{{!-- phone slidebar  --}}
<div class="d-flex flex-row bg-dark flex-row-reverse fixed-top d-sm-none border-bottom">
    {{#each phone_buttons }}
        <a class="btn-dark {{#if active }}active {{/if}}{{#unless active }}{{/unless}} btn rounded-0" href="{{ url }}">
            {{ title }}
            <i class="{{ icon.kind }} fa-{{ icon.name }}"></i>
        </a>
    {{/each}}
    <div class="mr-auto d-flex flex-row">
        <div>
            <a class="btn btn-dark rounded-0 dropdown dropup px-3" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expand="false">
                <i class="fas fa-bars"></i>
            </a>
            <div class="dropdown-menu">
                {{#each phone_links }}
                    <a class="{{#if active }}active {{/if}} dropdown-item btn btn-light rounded-0" href="{{ url }}">
                        <div class="container">
                            <div class="row justify-content-end">
                                <div class="col-auto">
                                    {{ title }}
                                </div>
                                <div class="col-2">
                                    <div class="row justify-content-center">
                                        <div class="col-auto">
                                            <i class="{{ icon.kind }} fa-{{ icon.name }}"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {{/each}}
            </div>
        </div>
        <div>
            {{> sidebar/user_menu }}
        </div>
    </div>
</div>
{{!-- tablet slidebar --}}
<div class="flex-row bg-dark flex-row-reverse fixed-top d-none d-md-flex border-bottom">
    {{#each links }}
        <a class="btn btn-dark rounded-0 {{#if active }} active{{/if}}" href="{{ url }}">
            {{ title }}
            <i class="{{ icon.kind }} fa-{{ icon.name }}"></i>
        </a>
    {{/each}}
    <div class="mr-auto">
        {{> sidebar/user_menu }}
    </div>
</div>
