<a class="btn btn-dark dropdown dropup px-3" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expand="false">
    <i class="mh-100 p-0 m-0 fas fa-user-circle"></i>
</a>
<div class="dropdown-menu border border-secondary">
    {{#with user}}
        <div class="d-flex justify-content-center px-3">
            {{ first_name }}
        </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item btn btn-secondary rounded-0" href="/member/{{ page_id }}">
            <div class="row justify-content-end">
                <div class="col-auto">
                    ملفي الشخصي
                </div>
                <div class="col-2">
                    <div class="row justify-content-center">
                        <div class="col-auto align-items-center">
                            <i class="far fa-user-circle"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a class="dropdown-item btn btn-secondary rounded-0" href="/logout">
            <div class="row justify-content-end">
                <div class="col-auto">
                    خروج
                </div>
                <div class="col-2">
                    <div class="row justify-content-center">
                        <div class="col-auto align-items-center">
                            <i class="fas fa-sign-out-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {{else}}
        <a class="dropdown-item btn btn-secondary rounded-0" href="/login">
            <div class="row justify-content-end">
                <div class="col-auto">
                    دخول
                </div>
                <div class="col-2">
                    <div class="row justify-content-center">
                        <div class="col-auto align-items-center">
                            <i class="fas fa-sign-in-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a class="dropdown-item btn btn-secondary rounded-0" href="/new-member">
            <div class="row justify-content-end">
                <div class="col-auto">
                    إنشاء حساب
                </div>
                <div class="col-2">
                    <div class="row justify-content-center">
                        <div class="col-auto align-items-center">
                            <i class="fas fa-sign-in-alt"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {{/with}}
</div>
