/* Amiri font */
@font-face {
    font-family: 'Amiri';
    src: url('../fonts/Amiri-Regular.ttf');
}

@font-face {
    font-family: 'Amiri';
    src: url('../fonts/Amiri-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Amiri';
    src: url('../fonts/Amiri-Italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Amiri';
    src: url('../fonts/Amiri-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

// Droid Kufi

@font-face {
    font-family: 'Droid Kufi';
    src: url('../fonts/DroidKufi-Regular.ttf');
}

@font-face {
    font-family: 'Droid Kufi';
    src: url('../fonts/DroidKufi-Regular.ttf');
    font-weight: bold;
}
