<div class="card rounded-0 text-dark h-100">
    <div class="card-body px-3">
        <bdo dir="rtl">
            <h5 class="py-2 text-center">{{ clubname }}</h5>
            <p class="card-text text-right text-secondary">
                {{ description }}
            </p>
        </bdo>
    </div>
    <div class="card-footer x-3">
        <div class="d-flex flex-row flex-nowarp text-muted flex-row-reverse align-items-center">
            <div class="d-flex flex-row align-items-center ml-3">
                <div class="text-nowrap">
                    {{ started_at }}
                </div>
                <i class="fas fa-calendar-alt ml-2"></i>
            </div>
            {{#if manager }}
                <a class="d-flex flex-row align-items-center btn btn-light text-muted" href="/member/{{ manager.page_id }}/">
                    <div>
                        {{ manager.first_name }}
                    </div>
                    <i class="fas fa-user-circle ml-2"></i>
                </a>
            {{/if}}
            <div class="mr-auto">
                <!-- <a class="px-3 btn btn-light" href="/club/{{ page_id }}"> -->
                <!-- <i class="fas fa-ellipsis-v"></i> -->
                <!-- </a> -->
            </div>
        </div>
    </div>
</div>
