{{> header title="مركز الموهوبين التقنيّن" lang="ar" }}
{{> sidebar/sidebar }}
{{> banner }}
<div class="container-fulid bg-dark py-4">
    <div class="container">
        <h3 class="text-center text-light my-3">النوادي</h3>
        <div class="row d-flex align-items-stretch justify-content-center">
            {{#each clubs }}
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 my-3">
                    {{> clubs/club_box this}}
                </div>
            {{/each}}
        </div>
        <div class="btn-group d-flex justify-content-center" role="group">
            {{#each pagination }}
                <a class="btn btn-light{{#if active }} active{{/if}}" href="{{ url }}">
                    {{ title }}
                </a>
            {{/each}}
        </div>
    </div>
</div>
{{> footer }}
