{{> header title="مركز الموهوبين التقنيّن" lang="ar" }}
{{> sidebar/sidebar }}
{{> banner }}
<div class="container-fulid bg-white py-4">
    <div class="container">
        <h3 class="text-center text-muted my-3">إتصل بنا</h3>
        {{#if show_success_message }}
            <div class="alert alert-success text-right" role="alert">
                <bdo dir="rtl">
                    تم إرسال الرسالة، وسنقوم بالرد عليكم في أقرب وقت ممكن
                </bdo>
            </div>
        {{/if}}
        <form method="post" action="">
            <div class="form-group row">
                <bdo class="text-right col-10" dir="rtl">
                    <input class="form-control {{#if username_err}} is-invalid{{/if}}" id="nickname" name="nickname" type="text" value="{{#with user}}{{first_name}} {{last_name}}{{/with}}"  />
                    <small class="form-text text-muted">سنقوم بمراسلتك بهذا الاسم لاحقاً</small>
                    {{#if username_err}}
                        <div class="invalid-feedback">
                            {{ username_err }}
                        </div>
                    {{/if}}
                </bdo>
                <label class="col-2 col-form-label" for="nickname">الاسم</label>
            </div>
            <div class="form-group row">
                <bdo class="text-right col-10" dir="rtl">
                    <input class="form-control {{#if email_err}} is-invalid{{/if}}" id="email" name="email" type="text" value="{{#with user}}{{email}}{{/with}}"  />
                    {{#if email_err}}
                        <div class="invalid-feedback">
                            {{ email_err }}
                        </div>
                    {{/if}}
                </bdo>
                <label class="col-2 col-form-label" for="email">البريد الإلكتروني</label>
            </div>
            <div class="form-group row">
                <bdo class="text-right col-10" dir="rtl">
                    <input class="form-control {{#if phone_err}} is-invalid{{/if}}" id="phone" name="phone" type="text" placeholder="مثال ٠٥٠١٢٣٤٥٦٧" value="{{#with user}}{{phone}}{{/with}}" />
                    {{#if phone_err}}
                        <div class="invalid-feedback">
                            {{ phone_err }}
                        </div>
                    {{/if}}
                </bdo>
                <label class="col-2 col-form-label" for="phone">الهاتف</label>
            </div>
            <div class="form-group row">
                <bdo class="text-right col-10" dir="rtl">
                    <select class="custom-select {{#if category_err}} is-invalid{{/if}}" id="category" name="category" >
                        <option selected>سبب الإتصال</option>
                        <option value="1">براءة الإختراع</option>
                        <option value="2">النوادي</option>
                        <option value="3">الدورات</option>
                        <option value="4">الأخبار</option>
                        <option value="0">أخرى</option>
                    </select>
                    {{#if category_err}}
                        <div class="invalid-feedback">
                            {{ category_err }}
                        </div>
                    {{/if}}
                </bdo>
                <label class="col-2 col-form-label" for="category">الفئة</label>
            </div>
            <div class="form-group row">
                <bdo class="text-right col-10" dir="rtl">
                    <input class="form-control {{#if subject_err}} is-invalid{{/if}}" id="subject" name="subject" type="text" value=""  />
                    {{#if subject_err}}
                        <div class="invalid-feedback">
                            {{ subject_err }}
                        </div>
                    {{/if}}
                </bdo>
                <label class="col-2 col-form-label" for="subject">الموضوع</label>
            </div>
            <div class="form-group row">
                <bdo class="text-right col-10" dir="rtl">
                    <input class="form-control {{#if content_err}} is-invalid{{/if}}" id="content" name="content" type="textarea" value=""  />
                    {{#if content_err}}
                        <div class="invalid-feedback">
                            {{ content_err }}
                        </div>
                    {{/if}}
                </bdo>
                <label class="col-2 col-form-label" for="content">المحتوى</label>
            </div>
            <button type="submit" class="btn btn-light">إرسال</button>
        </form>
    </div>
</div>
{{> footer }}
