<div class="card bg-warning rounded-0 border-0 text-center text-dark h-100">
    <div class="card-body">
        <h5 class="py-2">{{ title }}</h5>
        <p class="card-text">
            {{ summary }}
        </p>
    </div>
</div>
