<div class="container-fulid bg-light py-4">
    <div class="container">
        <div class="d-flex py-3">
            <bdo class="text-right" dir="rtl">
                <div class="flex-row">
                    <h3>مركز الموهوبين التقنيين</h3>
                    <p>
                        نحتوي الطلاب المبدعين في شتا المجالات، برمجة، تصميم، الإلقاء والكثير من المجالات الأخرى ، يقدم
                        المركز دعم مادي ومعنوي للطلاب المنتسبين إليه ويوفر لهم بيئة مناسبة لإظهار ابداعاتهم وتسخيرها
                        لخدمة المجتمع
                    </p>
                </div>
            </bdo>
        </div>
    </div>
</div>
