{{> header title="مركز الموهوبين التقنيّن" lang="ar" }}
{{> sidebar/sidebar }}

<div class="container-fulid bg-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12 order-md-2">
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <div class="display-3 text-muted"><i class="far fa-user"></i></div>
                        <h4 class="card-title text-muted">{{ member.first_name }} {{ member.last_name }}</h4>
                    </div>
                    <lu class="list-group list-group-flush">
                        <li class="list-group-item d-flex flex-row-reverse">
                            <div class="d-inline-flex">عضو مُنذو</div>
                            <div class="d-inline-flex mx-2">2018-8-2</div>
                        </li>
                        <li class="list-group-item d-flex flex-row-reverse">
                            <div class="d-inline-flex">عدد المشاركات</div>
                            <div class="d-inline-flex mx-2">{{ posts_number }}</div>
                        </li>
                        {{#if joined_clubs}}
                            <li class="list-group-item">
                                عضو في النوادي:
                                {{#each joined_clubs}}
                                    <a href="/club/{{ page_id }}" class="badge badge-pill badge-light">{{ clubname }}</a>
                                {{/each}}
                        </li>
                        {{/if}}
                    </lu>
                </div>
            </div>
            <div class="col-md-8 col-12">
                {{#each last_posts}}
                    <div class="mb-3">
                        {{> news/post_box this}}
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>


{{> footer }}
