{{> header title="مركز الموهوبين التقنيّن" lang="ar" }}
{{> sidebar/sidebar }}
<div class="container-fulid">
    <div class="row no-gutters">
        {{> dashboard/sidebar }}
        <!-- page content -->
        <div class="col-md-10 col-12 text-right bg-white">
            <div class="row no-gutters justify-content-center">
                <div class="col-10 my-2">
                    {{> common/redirect_message }}
                    <div class="list-group-item border-0 mb-1 rounded bg-light text-dark">
                        <div class="row d-flex flex-row-reverse">
                            <div class="col-3">العنوان</div>
                            <div class="col-2">المرسل</div>
                            <div class="col-2">رقم الجوال</div>
                            <div class="col-1">الفئة</div>
                            <div class="col-3">تاريخ الإرسال</div>
                            <div class="col-1">الحالة</div>
                        </div>
                    </div>
                    <ul class="list-group">
                        {{#each messages}}
                            <li class="list-group-item btn btn-light text-right" data-toggle="modal" data-target="#message-{{ id }}">
                                <div class="row d-flex flex-row-reverse">
                                    <div class="col-3 text-truncate">
                                        {{ subject }}
                                    </div>
                                    <div class="col-2 text-truncate">
                                        {{ nickname }}
                                    </div>
                                    <div class="col-2 text-truncate" title="{{ phone }}">
                                        {{ phone }}
                                    </div>
                                    <div class="col-1 text-truncate">
                                        {{ category }}
                                    </div>
                                    <div class="col-3 text-truncate" title="{{ sent_at }}"">
                                        {{ sent_at }}
                                    </div>
                                    <div class="col-1 text-truncate">
                                        {{ status }}
                                    </div>
                                </div>
                            </li>
                            <div id="message-{{ id }}" class="modal fade" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button class="btn btn-link text-dark text-center p-2" title="حذف العضوية" data-toggle="collapse" data-target="#{{ id }}-delete-alert">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                            <a class="text-dark text-center p-2" title="عرض الملف الشخصي" href="/member/{{ id }}">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                            <h5 class="modal-title ml-auto">{{ subject }}</h5>
                                        </div>
                                        <form method="post" action="edit/{{ id }}">
                                            <div class="modal-body">
                                                <!-- alert for deletion -->
                                                <div class="collapse fade" id="{{ id }}-delete-alert">
                                                    <div class="alert alert-light text-dark border-danger" role="alert">
                                                        <bdo dir="rtl">
                                                            <h4>تنبيه</h4>
                                                            عند حذف هذا الرسالة ستفقد جميع البيانات المتعلقة بها ولا يمكنك التراجع فيما بعد.
                                                            <hr/>
                                                            <a class="btn btn-danger" href="delete/{{ id }}">حذف الرسالة</a>
                                                            <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#{{ id }}-delete-alert">إلغاء</button>
                                                        </bdo>
                                                    </div>
                                                </div>

                                                <!-- message info -->
                                                <div class="text-dark small mb-2" style="direction:rtl">
                                                    <span class="text-muted">المرسل: </span>{{ nickname }} <br/>
                                                    <span class="text-muted">أُرسلت في: </span>{{ sent_at }} <br/>
                                                    <span class="text-muted">الجوال: </span>{{ phone }} <br/>
                                                    <span class="text-muted">البريد الإلكتروني: </span>{{ email }} <br/>
                                                </div>
                                                <p class="text-right" style="direction:rtl">
                                                    {{ content }}
                                                </p>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">حفظ التغيرات</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <!-- pagination -->
            <div class="btn-group d-flex justify-content-center mb-2" role="group">
                {{#each pagination }}
                    <a class="btn btn-dark{{#if active }} active{{/if}}" href="{{ url }}">
                        {{ title }}
                    </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>
{{> footer }}
