{{> header title="مركز الموهوبين التقنيّن" lang="ar" }}
{{> sidebar/sidebar }}
<div class="container-fulid">
    <div class="row no-gutters">
        {{> dashboard/sidebar }}
        <!-- page content -->
        <div class="col-md-10 col-12 text-right bg-white">
            <div class="m-4 row no-gutters d-flex flex-row-reverse">
                <div class="col-12 h3 mb-4">إحصائيات الموقع</div>

                <!-- news section -->
                <div class="col-md-6 col-12 mb-4">
                    <div class="row no-gutters d-flex flex-row-reverse ml-md-3">
                        <div class="col-12 h5 mb-2">الأخبار</div>
                        <div class="col-6 mb-2">
                            عدد الأخبار المنشورة
                            <div class="m-1 p-3 h4 bg-light border text-dark text-center">
                                <i class="display-4 fas fa-newspaper"></i>
                                <div>
                                    {{ published_news }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mb-2">
                            عدد الأخبار غير المنشورة
                            <div class="m-1 p-3 h4 bg-light border text-dark text-center">
                                <i class="display-4 far fa-eye-slash"></i>
                                <div>
                                    {{ draft_news }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- users section -->
                <div class="col-md-6 col-12 mb-4">
                    <div class="row no-gutters d-flex flex-row-reverse ml-md-3">
                        <div class="col-12 h5 mb-2">الأعضاء</div>
                        <div class="col-6 mb-2">
                            عدد الأعضاء
                            <div class="m-1 p-3 h4 bg-light border text-dark text-center">
                                <i class="display-4 fas fa-user"></i>
                                <div>
                                    {{ users }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- clubs section -->
                <div class="col-md-6 col-12 mb-4">
                    <div class="row no-gutters d-flex flex-row-reverse ml-md-3">
                        <div class="col-12 h5 mb-2">النوادي</div>
                        <div class="col-6 mb-2">
                            عدد النوادي
                            <div class="m-1 p-3 h4 bg-light border text-dark text-center">
                                <i class="display-4 fas fa-users"></i>
                                <div>
                                    {{ clubs }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- courses section -->
                <div class="col-md-6 col-12 mb-4">
                    <div class="row no-gutters d-flex flex-row-reverse ml-md-3">
                        <div class="col-12 h5 mb-2">الدورات</div>
                        <div class="col-6 mb-2">
                            عدد الدورات المتاحة
                            <div class="m-1 p-3 h4 bg-light border text-dark text-center">
                                <i class="display-4 fas fa-university"></i>
                                <div>
                                    {{ available_courses }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mb-2">
                            عدد الدورات المسجلة
                            <div class="m-1 p-3 h4 bg-light border text-dark text-center">
                                <i class="display-4 fas fa-university"></i>
                                <div>
                                    {{ courses }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- contact us messages section -->
                <div class="col-md-6 col-12 mb-4">
                    <div class="row no-gutters d-flex flex-row-reverse ml-md-3">
                        <div class="col-12 h5 mb-2">رسائل الزوار</div>
                        <div class="col-6 mb-2">
                            عدد الرسائل المجابة
                            <div class="m-1 p-3 h4 bg-light border text-dark text-center">
                                <span class="display-4 fa-layers fa-fw">
                                    <i class="fas fa-envelope-open"></i>
                                    <i class="fas fa-check" data-fa-transform="shrink-7 down-4 right-9" style="color:lawngreen"></i>
                                </span>
                                <div>
                                    {{ answered_contact_us_messages }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mb-2">
                            عدد الرسائل المؤرشفة
                            <div class="m-1 p-3 h4 bg-light border text-dark text-center">
                                <span class="display-4 fa-layers fa-fw">
                                    <i class="fas fa-envelope" data-fa-transform="shrink-10 up-5"></i>
                                    <i class="fas fa-box-open" data-fa-transform="shrink-5 down-3"></i>
                                </span>
                                <div>
                                    {{ archived_contact_us_messages }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6 mb-2">
                            عدد الرسائل غير المجابة
                            <div class="m-1 p-3 h4 bg-light border text-dark text-center">
                                <i class="display-4 fas fa-envelope"></i>
                                <div>
                                    {{ waiting_contact_us_messages }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer }}
