{{> header title="مركز الموهوبين التقنيّن" lang="ar" }}
{{> sidebar/sidebar }}
<div class="container-fulid">
    <div class="row no-gutters">
        {{> dashboard/sidebar }}
        <!-- page content -->
        <div class="col-md-10 col-12 text-right bg-white">
            <div class="row no-gutters justify-content-center">
                <div class="col-10 my-2">
                    {{> common/redirect_message }}
                    <div class="list-group-item border-0 mb-1 rounded bg-light text-dark">
                        <div class="row d-flex flex-row-reverse">
                            <div class="col-3">اسم المستخدم</div>
                            <div class="col-1">الصلاحيات</div>
                            <div class="col-2">الهاتف</div>
                            <div class="col-3">البريد</div>
                            <div class="col-3">تاريخ الإنظمام</div>
                        </div>
                    </div>
                    <ul class="list-group">
                        {{#each users}}
                            <li class="list-group-item btn btn-light text-right" data-toggle="modal" data-target="#{{ page_id }}">
                                <div class="row d-flex flex-row-reverse">
                                    <div class="col-3">
                                        {{ username }}
                                    </div>
                                    <div class="col-1">
                                        {{ permission }}
                                    </div>
                                    <div class="col-2 text-truncate" title="{{ phone }}">
                                        {{ phone }}
                                    </div>
                                    <div class="col-3 text-truncate" title="{{ email }}">
                                        {{ email }}
                                    </div>
                                    <div class="col-3 text-truncate" title="{{ registered_at }}"">
                                        {{ registered_at }}
                                    </div>
                                </div>
                            </li>
                            <div id="{{ page_id }}" class="modal fade" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button class="btn btn-link text-dark text-center p-2" title="حذف العضوية" data-toggle="collapse" data-target="#{{ page_id }}-delete-alert">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                            <a class="text-dark text-center p-2" title="عرض الملف الشخصي" href="/member/{{ page_id }}">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                            <h5 class="modal-title ml-auto">{{ username }}</h5>
                                        </div>
                                        <form method="post" action="edit/{{ page_id }}">
                                            <div class="modal-body">
                                                <div class="collapse fade" id="{{ page_id }}-delete-alert">
                                                    <div class="alert alert-light text-dark border-danger" role="alert">
                                                        <bdo dir="rtl">
                                                            <h4>تنبيه</h4>
                                                            عند حذف هذا المستخدم ستفقد جميع البيانات المتعلقة به بما في ذلك
                                                            الأخبار التي قام بكتابتها ولا يمكنك التراجع فيما بعد.
                                                            <hr/>
                                                            <a class="btn btn-danger" href="delete/{{ page_id }}">حذف المستخدم</a>
                                                            <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#{{ page_id }}-delete-alert">إلغاء</button>
                                                        </bdo>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <div class="form-group">
                                                        <bdo class="text-right" dir="rtl">
                                                            <div class="input-group d-flex flex-row-reverse">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="far fa-id-card" style="width:16px"></i></span>
                                                                </div>
                                                                <input required tabindex="3" class="form-control{{#if first_name_err}} is-invalid{{/if}}" name="last_name" type="text" placeholder="الاسم الأخير" value="{{ last_name }}" />
                                                                <input required tabindex="2" class="form-control{{#if last_name_err}} is-invalid{{/if}}" name="first_name" type="text" placeholder="الاسم الأول" value="{{ first_name }}" />
                                                                {{#if first_name_err}}
                                                                    <div class="invalid-feedback">
                                                                        {{ first_name_err }}
                                                                    </div>
                                                                {{/if}}
                                                                {{#if last_name_err}}
                                                                    <div class="invalid-feedback">
                                                                        {{ last_name_err }}
                                                                    </div>
                                                                {{/if}}
                                                            </div>
                                                        </bdo>
                                                    </div>
                                                    <div class="form-group">
                                                        <bdo class="text-right" dir="rtl">
                                                            <div class="input-group d-flex flex-row-reverse">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="fas fa-mobile-alt" style="width:16px"></i></span>
                                                                </div>
                                                                <input tabindex="4" class="form-control{{#if phone_err}} is-invalid{{/if}}" name="phone" type="tel" placeholder="الهاتف" value="{{ phone }}" />
                                                                {{#if phone_err}}
                                                                    <div class="invalid-feedback">
                                                                        {{ phone_err }}
                                                                    </div>
                                                                {{/if}}
                                                            </div>
                                                        </bdo>
                                                    </div>
                                                    <div class="form-group">
                                                        <bdo class="text-right" dir="rtl">
                                                            <div class="input-group d-flex flex-row-reverse">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"><i class="fas fa-at" style="width:16px"></i></span>
                                                                </div>
                                                                <input required tabindex="5" class="form-control{{#if email_err}} is-invalid{{/if}}" name="email" type="email" placeholder="البريد" value="{{ email }}" />
                                                                {{#if email_err}}
                                                                    <div class="invalid-feedback">
                                                                        {{ email_err }}
                                                                    </div>
                                                                {{/if}}
                                                            </div>
                                                        </bdo>
                                                    </div>
                                                    <div class="form-group">
                                                        <bdo class="text-right" dir="rtl">
                                                            <div class="input-group d-flex flex-row-reverse">
                                                                <div class="input-group-prepend">
                                                                    <label class="input-group-text text-center justify-content-center" for="{{ page_id }}-permission" style="width:90px">الصلاحيات</label>
                                                                </div>
                                                                <select required class="custom-select" id="{{ page_id }}-permission" name="permission" size="3">
                                                                    <option value="0">الجذر</option>
                                                                    <option value="10">مدير</option>
                                                                    <option value="100">عضوء</option>
                                                                </select>
                                                            </div>
                                                        </bdo>
                                                    </div>
                                                    <div class="form-group">
                                                        <bdo class="text-right" dir="rtl">
                                                            <div class="input-group d-flex flex-row-reverse">
                                                                <div class="input-group-prepend">
                                                                    <label class="input-group-text justify-content-center" for="{{ page_id }}-status" style="width:90px">الحالة</label>
                                                                </div>
                                                                <select required class="custom-select" id="{{ page_id }}-status" name="status" size="3">
                                                                    <option value="0">محظور</option>
                                                                    <option value="1">فعال</option>
                                                                    <option value="2">غير مفعل</option>
                                                                </select>
                                                            </div>
                                                        </bdo>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">حفظ التغيرات</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <!-- pagination -->
            <div class="btn-group d-flex justify-content-center mb-2" role="group">
                {{#each pagination }}
                    <a class="btn btn-dark{{#if active }} active{{/if}}" href="{{ url }}">
                        {{ title }}
                    </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>
{{> footer }}
