<!-- dashboard nav -->
<div class="col-md-2 col-12 order-md-2 p-0 bg-dark">
    <nav class="nav flex-column text-right">
        <a class="btn btn-dark rounded-0 text-right" href="/dashboard">عام</a>
        <!-- news section -->
        <button type="button"
                class="btn btn-dark text-right rounded-0"
                data-toggle="collapse"
                data-target="#news-nav">الأخبار</button>
        <div id="news-nav" class="collapse">
            <nav class="nav flex-column mb-2">
                <a class="btn btn-dark rounded-0 text-right" href="/dashboard/news/1">إدارة الأخبار</a>
                <a class="btn btn-dark rounded-0 text-right" href="/dashboard/news/add">إضافة خبر</a>
            </nav>
        </div>

        <!-- users section -->
        <a class="btn btn-dark rounded-0 text-right" href="/dashboard/members/1">الأعضاء</a>

        <!-- contact us messages section -->
        <a class="btn btn-dark rounded-0 text-right" href="/dashboard/contact-us-messages/1">رسائل الزوار</a>

        <!-- clubs section -->
        <a class="btn btn-dark rounded-0 text-right" href="/dashboard/clubs/1">النوادي</a>

        <!-- courses section -->
        <a class="btn btn-dark rounded-0 text-right" href="/dashboard/courses/1">الدورات</a>

        <!-- about us section -->
        <a class="btn btn-dark rounded-0 text-right" href="/dashboard/about-us">معلومات المركز</a>
    </nav>
</div>
