{{> header title="مركز الموهوبين التقنيّن" lang="ar" }}
{{> sidebar/sidebar }}
{{> banner }}
<div class="container-fulid bg-secondary py-4">
    <div class="container">
        <h3 class="text-center text-white my-3">الأخبار</h3>
        <div class="row">
            {{#each posts }}
                <div class="col-12 my-4">
                    {{> news/post_box this}}
                </div>
            {{/each}}
        </div>
        <div class="btn-group d-flex justify-content-center" role="group">
            {{#each pagination }}
                <a class="btn btn-dark{{#if active }} active{{/if}}" href="{{ url }}">
                    {{ title }}
                </a>
            {{/each}}
        </div>
    </div>
</div>
{{> footer }}
