{{> header title="مركز الموهوبين التقنيّن" lang="ar" }}
{{> sidebar/sidebar }}
{{> banner }}
<div class="container-fulid bg-secondary py-4">
    <div class="container">
        <div class="row">
            {{#with post }}
                <div class="col-12 my-4">
                    {{> news/post_box expand=true}}
                </div>
            {{/with}}
        </div>
    </div>
</div>
{{> footer }}
