{{> header title="مركز الموهوبين التقنيّن" lang="ar" }}
{{> sidebar/sidebar }}
<div class="container-fulid bg-dark py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-md-4">
                <div class="card-body">
                    <h5 class="text-center card-title">عضو جديد</h5>
                    <div class="d-flex justify-content-center mb-3">
                        <div class="col-2 bg-primary" style="height:2px"></div>
                    </div>
                    {{#if show_success_message }}
                        <div class="text-right mb-3">
                            <div class="alert alert-success text-right" role="alert">
                                تم إنشاء العضوية وسيتم تنشيطها خلال ٢٤ ساعة
                            </div>
                            <div class="text-muted small">في حال لم يتم تنشيط العوضية بعد مرور فترة التنشيط، راجع مقر المركز في مبنى ٥ الدور الأرضي</div>
                        </div>
                    {{/if}}
                    {{#if other_err}}
                        <div class="text-right alert alert-warning" role="alert">
                            {{ other_err }}
                        </div>
                    {{/if}}
                    <form class="d-flex flex-column" method="post">
                        <div class="form-group">
                            <bdo class="text-right" dir="rtl">
                                <div class="input-group d-flex flex-row-reverse bd-highlight">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-user" style="width:16px"></i></span>
                                    </div>
                                    <input required tabindex="1" class="form-control{{#if username_err}} is-invalid{{/if}}" name="username" type="text" placeholder="اسم المستخدم" />
                                    {{#if username_err}}
                                        <div class="invalid-feedback">
                                            {{ username_err }}
                                        </div>
                                    {{/if}}
                                </div>
                            </bdo>
                        </div>
                        <div class="form-group">
                            <bdo class="text-right" dir="rtl">
                                <div class="input-group d-flex flex-row-reverse">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="far fa-id-card" style="width:16px"></i></span>
                                    </div>
                                    <input required tabindex="3" class="form-control{{#if first_name_err}} is-invalid{{/if}}" name="last_name" type="text" placeholder="الاسم الأخير" />
                                    <input required tabindex="2" class="form-control{{#if last_name_err}} is-invalid{{/if}}" name="first_name" type="text" placeholder="الاسم الأول" />
                                    {{#if first_name_err}}
                                        <div class="invalid-feedback">
                                            {{ first_name_err }}
                                        </div>
                                    {{/if}}
                                    {{#if last_name_err}}
                                        <div class="invalid-feedback">
                                            {{ last_name_err }}
                                        </div>
                                    {{/if}}
                                </div>
                            </bdo>
                        </div>
                        <div class="form-group">
                            <bdo class="text-right" dir="rtl">
                                <div class="input-group d-flex flex-row-reverse">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-mobile-alt" style="width:16px"></i></span>
                                    </div>
                                    <input required tabindex="4" class="form-control{{#if phone_err}} is-invalid{{/if}}" name="phone" type="tel" placeholder="الهاتف" />
                                    {{#if phone_err}}
                                        <div class="invalid-feedback">
                                            {{ phone_err }}
                                        </div>
                                    {{/if}}
                                </div>
                            </bdo>
                        </div>
                        <div class="form-group">
                            <bdo class="text-right" dir="rtl">
                                <div class="input-group d-flex flex-row-reverse">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-at" style="width:16px"></i></span>
                                    </div>
                                    <input required tabindex="5" class="form-control{{#if email_err}} is-invalid{{/if}}" name="email" type="email" placeholder="البريد" />
                                    {{#if email_err}}
                                        <div class="invalid-feedback">
                                            {{ email_err }}
                                        </div>
                                    {{/if}}
                                </div>
                            </bdo>
                        </div>
                        <div class="form-group">
                            <bdo class="text-right" dir="rtl">
                                <div class="input-group d-flex flex-row-reverse">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input required tabindex="6" class="form-control{{#if password_err}} is-invalid{{/if}}" name="password" type="password" placeholder="كلمة المرور" />
                                    {{#if password_err}}
                                        <div class="invalid-feedback">
                                            {{ password_err }}
                                        </div>
                                    {{/if}}
                                </div>
                            </bdo>
                        </div>
                        <button tabindex="6" type="submit" class="btn btn-primary">سجّل</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer }}
